/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
.card{
  background-color:aquamarine;
  max-width:200px;
  border:1px solid black;
  border-radius:6px;
  padding:2px;
  text-align:center;
  display:inline-block;
  margin:10px;

}
.card img{
  width:200px; 
  font-family:sans-serif;
}